@import "tailwindcss";

:root {
  --background: #f8f8ff;
  --foreground: #404040;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;

  --color-primary: #36a388;
  --color-success: #24bf5f;
  --color-warning: #e3903f;
  --color-danger: #d74b4b;
  --color-info: #157ad8;
  --color-secondary: #a1afc3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
